.catalog{
    &-products{
        &-item{
            &-photo{
                background-position: center center;
                background-size: contain;
                background-repeat: no-repeat;
                width: 200px;
                height: 300px;
            }
        }
    }
    &-pagination{
        display: flex;
        align-items: center;
        justify-content: center;

        &-item{
            margin: 0 5px;
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid #000000;
            text-decoration: none;
            color: #ffffff;
            background-color: #000000;
            &.active{
                background-color: #ffffff;
                color: #000000;
            }
        }
    }
}